html,
body {

  background-color: pink;
  color: rgb(0,20,120);
}

nav, .navbar {
  background-color: cornsilk;
  color: red;
}

.cardPane {
  background-color: orange;
  color: #ddd;
}

.cardPaneLeft {
  border-right: 1px solid #ddd;
}

.cardPaneRight {
  border-right: 1px solid #ddd;
}
